FIREBASE_WEB_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
# Tải từ Firebase Console -> Project Settings -> Service Accounts
# -> Generate new private key -> đặt vào src/main/resources/
FIREBASE_SERVICE_ACCOUNT_PATH=classpath:cuahangdienmay-9e28c-firebase-adminsdk-fbsvc-34dc57014a.json
SQLITE_DB_PATH=dien_may_db.db